//$cloud: #fbfaf8;

$cloud-2: #FAFAFA;
$pink: #ef96bf;
//$dark: black;
//$grey: #9a9592;

$primary:#e4dcb7;
$accent:#7f6029;
$accent-dark: #725835;
$accent-light: #dfd6c7;
$cloud: #fbfaf8;
$dark: #081738;
$grey: #b1a897;


/**
* FA-css codes
*/ 

@mixin angleRight(){
	font-family: 'FontAwesome';
	content:'\f105';
}
@mixin angleLeft(){
	font-family: 'FontAwesome';
	content:'\f104';
}
/**
* Media queries
*/

//tablet
$w-tab: 768px;
$w-med:990px;
$w-dts:1280px;
$w-dtm:1400px;
$w-dtl:1920px;

/**************/

.container{
	max-width:1280px;
	width:90%;
	margin:0 auto;
	overflow-x:hidden;
	position:relative;
	padding:2px;
	@media screen and (min-width:$w-dts) {
		width: 90%;
	}
	@media screen and (min-width:$w-dtl) {
		max-width:1440px;
	}
}