//@import url('https://fonts.googleapis.com/css?family=Lato:300,300italic,400,600,900');

@font-face{
  font-family: 'Gotham Rounded';
  src: url('fonts/GothamRounded-Medium.otf');
  font-weight: normal;
}
@font-face{
  font-family: 'Gotham Rounded Bold';
  src: url('fonts/GothamRounded-Bold.otf');
}
@font-face{
  font-family: 'Myriad Pro';
  src: url('fonts/MyriadPro-Regular.otf');
}

$font-headings: 'Gotham Rounded Bold';
$font-body :  'Myriad Pro',courier,serif;

// Viewport sized typography with minimum and maximum values
// Inspiration: https://css-tricks.com/molten-leading-css/
// More inspiration: https://www.smashingmagazine.com/2016/05/fluid-typography/
//
// Source: https://codepen.io/eduardoboucas/pen/YXxmwv
//
// @author Eduardo Boucas (@eduardoboucas)
//
// @param {Number}   $responsive  - Viewport-based size
// @param {Number}   $min         - Minimum font size (px)
// @param {Number}   $max         - Maximum font size (px)
//                                  (optional)
// @param {Number}   $fallback    - Fallback for viewport-
//                                  based units (optional)
//
// @example scss - 5vw font size (with 50px fallback),
//                 minumum of 35px and maximum of 150px
//  @include responsive-font(5vw, 35px, 150px, 50px);
//
@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;
  font-size: $responsive;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }
}




html {
	//font-size: 14px;
	@include responsive-font(2vw,14px, 16px,14px);
}

body {
  background-color: white;
  font-family: $font-body;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}
input{
	font-family:$font-body!important;
}

p {margin-bottom: 1.3rem;}

h1, h2, h3, h4 {
	font-family: $font-headings;
	margin: 1.414rem 0 0.5rem;
	font-weight: inherit;
	line-height: 1.2;
}

h1 {
  margin-top: 0;
  @include responsive-font(5vw,36px, 45px,45px);
}

h2 {
	@include responsive-font(4vw,28px, 39.587px,39.587px);
}


h2.single-article-title__archive,
p.ingressi{
	font-family:$font-body;
	text-transform:uppercase;
	font-weight:600;
	@include responsive-font(2vw,16px, 18px,18px);	
	word-wrap:break-word;
}

h3 {
	@include responsive-font(3.5vw,24px, 28px,28px);
}
h3.sidebar-header{
	margin-top:0;
}

h4 {
	@include responsive-font(3vw,18px, 19.8px, 19.8px);
}

h1.small{
	@extend h2; 
}
h2.small{
	@extend h3;
}

small, .font_small {font-size: 0.707rem;}

strong{
	color:inherit;
	font-weight:bold;
}
em{
	font-style:italic;
}

/**
* LINKS AND BUTTONS
*/ 
a:focus,button:focus{
	outline:none;
}
a{
	color:$accent;
	transition: all 248ms ease-in-out;
}

button[data-target="main-nav"]{
	background-color:transparent;
	border:none;
}


/*
* ENDOF LINKS AND BUTTONS
**/ 

//Typo for main content
body.page section.primary-content article,
body.single-post section.primary-content article{
	ul{
		list-style:initial;
		list-style-type: disc;
		padding-left:1.4rem;
	}
	ol{
		list-style:initial;
		list-style-type: decimal;
		padding-left:1.4rem;	
	}
	strong{
		font-weight: 600;
	}
	em{
		font-style: italic;
		font-weight: 300;
	}
	h2{
		margin-top:0;
		margin-bottom: .8rem;
		line-height: 1.2;
		strong{
			font-weight: normal;
		}
	}
	h3{
		margin-top:0;
		margin-bottom: .8rem;
		line-height: 1.2;
		strong{
			font-weight: normal;
		}
	}
	p{
		line-height: 1.45;
	}
	table{
		/**
		* Hor. scroll
		*/ 
		width:100%!important;

		@media screen and (max-width:768px) {
			display:block;
			tbody{
				display: block;
				white-space: nowrap;
				overflow-x:auto;
				-webkit-overflow-scrolling: touch;
				-ms-overflow-style: -ms-autohiding-scrollbar;
			}	
		}
		
		
		tr:first-of-type td,
		th{
			font-weight: 600;
			padding:.5rem .4rem;
			border:none;
			text-transform: uppercase;
		}
		tr:first-of-type{
			border-bottom:solid 1px rgba($grey, .4);
			&:hover{
				background-color:transparent;
			}
		}
		tr{
			transition: all 248ms ease-in-out;
			td{
				padding:.4rem .3rem;
				border:solid 1px rgba($cloud,.9);
			}
			&:hover{
				background-color:$cloud;
			}	
		}
	}
}


// Typo for default pages and articles
body.page.page-template-default .primary-content article{
	/* =WordPress Core
	-------------------------------------------------------------- */
	.alignnone {
	    margin: .4rem 1.25rem 1.25rem 0;
	}

	.aligncenter,
	div.aligncenter {
	    display: block;
	    margin: .4rem auto .4rem auto;
	}

	.alignright {
	    float:right;
	    margin: .4rem 0 1.25rem 1.25rem;
	}

	.alignleft {
	    float: left;
	    margin: .4rem 1.25rem 1.25rem 0;
	}

	a img.alignright {
	    float: right;
	    margin: .4rem 0 1.25rem 1.25rem;
	}

	a img.alignnone {
	    margin: .4rem 1.25rem 1.25rem 0;
	}

	a img.alignleft {
	    float: left;
	    margin: .4rem 1.25rem 1.25rem 0;
	}

	a img.aligncenter {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	}

	.wp-caption {
	    background: #fff;
	    border: 1px solid #f0f0f0;
	    max-width: 96%; /* Image does not overflow the content area */
	    padding: .4rem .25rem .7rem;
	    text-align: center;
	}

	.wp-caption.alignnone {
	    margin: .4rem 1.25rem 1.25rem 0;
	}

	.wp-caption.alignleft {
	    margin: .4rem 1.25rem 1.25rem 0;
	}

	.wp-caption.alignright {
	    margin: .4rem 0 1.25rem 1.25rem;
	}

	.wp-caption img {
	    border: 0 none;
	    height: auto;
	    margin: 0;
	    max-width: 98.5%;
	    padding: 0;
	    width: auto;
	}

	.wp-caption p.wp-caption-text {
	    font-size: 0.707rem;
	    line-height: 1.1rem;
	    margin: 0;
	    padding: 0 .3rem .4rem;
	}

}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}	

blockquote:not(.nostyle){
	position:relative;
	padding:1.2rem 2rem;
	margin-bottom:1.2rem;
	color: $grey;
	font-size:1.25rem;
	font-weight:300;
	font-style:italic;

	&:before{
		font-family: 'FontAwesome';
		content:'\f10e';
	}

	p{ margin: 0;}
}
address{
	padding:0 .5rem;
	margin-bottom:1rem;

	@media screen and (max-width:500px) {
		span{
			display: block;
		}
	}
}



#breadcrumbs{
	text-align:center;
	margin-bottom:.4rem;
	text-transform:uppercase;
	a{
		color:rgba(black,.4);
	}
	.breadcrumb_last{
		color:rgba(black,.7);
		//display: none;
	}
}
hr{
	width:95%;
	max-width:1280px;
	border-color:$grey;
	border-top:none;
	border-left:none;
	border-right:none;
}
.site-title{
	text-align:center;
	margin-bottom:2.2rem;
	&:after{
		content:'';
		display: block;
		width: 180px;
		height: 3px;
		background-color:$primary;
		margin: .5rem auto 0;
	}
}


.site-header .container{
	/*& > button{
		font-size: 2rem;
		position: absolute;
		top:50%;
		right:1rem;
		transform: translateY(-50%);
		padding:0;
		
		border:none!important;
		color:black!important;
		background-color:transparent!important;
		padding:0!important;
		right:0!important;
	}*/
}

.screen-reader-text{
	display:block;
	width:0;
	height:0;
	overflow:hidden;
	color:transparent;
}

.some-list{
	li{
		display: inline-block;
	}
	a{
		display: block;
		font-size: 1rem;
		text-align: center;
		margin:0 .3rem;
		color:#8e8e8e;
	}
	i{
		
		text-align: center;
	}
}

.control-panel{
	a{
		color:#8e8e8e;
		text-decoration: none;
		&:hover{
			color:black;
		}
		@media screen and (min-width:$w-med) {
			font-size: .85rem;
		}
	}
}
.lang-switch{
	li{
		display: inline-block;
		margin-right:.8rem;
	}
	a{
		text-decoration: underline;
		text-transform: uppercase;
	}
	.current-lang a{
		text-decoration: none;
		opacity:.5;

	}
}
.account{
	text-transform: uppercase;
	span{
		margin:0 .3rem;
		color:#8e8e8e;
	}

}
.cart{
	text-transform: uppercase;
	span{
		color:$accent;
	}
}

#toggleSearch{
	width:2rem;
	height:2rem;
	border:none;
	box-shadow:none;
	background-color:transparent;
	float:right;

	i{
		transition: 248ms ease-in-out;
		transform: scale(1);
	}
	&:hover{
		cursor:pointer;
		i{
			transform: scale(1.2);
		}
	}
}


/**
* NAVIGATION
*/ 

nav[role="navigation"]{
	ul{
		line-height: 1;
	}
	//@media screen and (max-width:$w-tab) {
		ul{
			text-align: right;
		}
		.menu{
			& > li.menu-item{
				display: block;
				background-color:transparent;
				width: auto;
				//box-sizing:border-box;
				margin: 0 1.5rem;
			}
		}
		.menu-item-has-children .menu-item{
			padding:0 1.5rem 0;
			margin:2px 0;
			//background-color:rgba($cloud,.2);
			a{
				font-size: .85rem;
				padding:.6rem 1rem .6rem 1rem;
				border-color:darken($cloud,85%);
				//border-right:solid .4rem darken($cloud,50%);
			}
		}
		a{
			display: block;
			color:$cloud-2;
			text-transform: uppercase;
			font-size:1rem;
			text-decoration: none;
			box-sizing:border-box;

			border-bottom:solid 1px rgba($cloud,.1);

			padding:1rem;

			&:focus{
				outline: dotted $cloud;
			}
			&:hover{
				color:$primary;
			}
		}


		.menu-item-has-children{
			position:relative;
			& > a{
				padding-right:3rem;
			}
			.sub-menu-toggle{
				position:absolute;
				right: .4rem;
				font-size: 1rem;
				line-height: 1;
				padding: 1rem .8rem;
				transform:rotate(0deg);
				background-color:transparent;
				color:$primary;
				border:none;

				&.active{
					transform:rotate(-90deg);					
				}
			}

		}
	//}
	/*
	@media screen and (min-width:769px) {
		.menu-item{
			height: auto;
			//overflow:hidden;
		}
		.menu-item a{
			font-size: 1rem;
			text-transform: uppercase;
			color:black;
			text-decoration:none;
			padding-bottom:.5rem;
			border-bottom:solid .2rem transparent;
			display: block;
			line-height: 1;

			&:hover{
				color:$accent;
				border-color:$accent;
			}
		}
		.current-menu-item a{
			color:$accent;
			border-color:$accent;
		}
	}*/
}

/*
* endof NAVIGATION
***********/

/* =WordPress Core*/