/**
* CAROUSEL
*/ 
#fp_carousel{
	.slide-title{
		font-family: $font-headings;
		@include responsive-font(4vw,25px, 54px,54px);
		text-align: center;
		color:white;
	}
	.slide-desc{
		@include responsive-font(2vw,18px, 26px,26px);
		text-align: center;
		color:white;

	}
	& > a, & > p{
		margin: 1rem 0;
	}
	a.btn-tp{
		background-color: black;
		border:solid 2px black;
		display: block;

		width: auto;
		margin: 0;
		padding:.8rem 1.2rem;
		text-align: center;

		color:white;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		

		&:hover{
			background-color:$accent;
			border-color:$accent;
			color:white;
		}
	}
	@media screen and(min-width:$w-tab) {
		.slide-title{
			background-color:transparent;
			text-align: left;
			color:black;
		}
		.slide-desc{
			background-color:transparent;
			text-align: left;
			color:black;
		}
	}
}
/**
* SLICKS
*/
.slick-controls{
	position:absolute;
	top:50%;
	left:0;
	right:0;
	width:95%;
	max-width:1320px;

	transform:translateY(-50%);
	z-index:-1;

	height:3.5rem;
}
.container .slick-arrow{
	position:absolute;
	color:black;
	display:block;
	height:3.5rem;
	z-index:10;

	&:before{
		opacity:1!important;
		color:$accent!important;
		font-size: 2.5rem;
	}

	&.slick-next{
		right:0rem;

		&:before{
			@include angleRight;
		}
	}
	&.slick-prev{
		left:0rem;
		&:before{
			@include angleLeft;
		}
	}
	@media screen and (min-width:$w-tab) {
		&.slick-next{
			right:.5rem;
		}
		&.slick-prev{
			left:.5rem;
		}	
	}
	&.slick-disabled{
		filter:opacity(.5);
	}
}

ul.slick-dots{
	bottom:0;
}
ul.slick-dots li{
	width: .8rem;
	height: .8rem;
	button{
		width: .8rem;
		height: .8rem;
		font-size: .8rem;
		line-height: .8rem;
		border-radius:150%;
		background-color:rgba($accent,.5);
		color:transparent;

		&:before{
			color:transparent;
			width: .8rem;
			height: .8rem;
			line-height: .8rem;
		}
	}
	&.slick-active button{
		background-color:$accent;
		&:before{
			color:transparent;
		}
	}
}