/**
* Button Sign
*/ 
a.btn{
	background-color:$primary;
	position:relative;
	font-size:16px;
	padding:.8rem 1rem;
	text-align:center;
	line-height:1;
	color:$dark;

	text-decoration:none;

	display:inline-block;

	transition:all 248ms ease-in-out;

	&:hover{
		background-color:darken($primary,5);
	}
}
a.btn.sign{
	background-color:$primary;
	position:relative;
	font-size:16px;
	padding: 6px 12px;
	line-height:1;

	color: $dark;
	text-decoration:none;

	transition:all 248ms ease-in-out;
	transform-origin:top left;
	z-index:15;

	display:inline-block;
	//max-width:calc(100% - 20px);

	@media screen and (max-width:$w-tab) {
		width: calc(100% - 40px);
	}

	&:before{
		content:'';
		display: block;
		position: absolute;
		z-index: -1;
		top:0;
		right: -10px;
		bottom: 0;
		width: 20px;
		height: 20px;
		background-color:$primary;

		transform-origin: center center;
		transform: translateY(4px) rotate(45deg);
	}


	&:hover{
		transform:rotate(-1deg);
	}
}


/**
* NAVIGATION
*/ 
header.site-header .container{
	overflow:visible!important;
}
nav[role="navigation"]{
	display:block;
	overflow-y:visible;

	position:fixed;
	z-index:999;
	top:0;
	right:0;
	bottom:0;
	box-sizing:border-box;
	padding:2rem 0rem 4rem 0;
	width:calc(100% - 2rem);
	max-width:350px;

	background-color:darken($cloud,85%);
	
	transform-origin:right center;
	transition: all 400ms ease-in-out;

	
	& > div > ul{

		overflow-y: auto;
		max-height: calc(100vh - 8rem);
	}

	&[aria-hidden="true"]{
		transform:rotateY(90deg);
		//visibility: visible;
		visibility: hidden;
	}
	&[aria-hidden="false"]{
		transform:rotateY(0deg);	
		visibility: visible;
	}
	ul{
		overflow: auto;
	}
	button[data-target="main-nav"]{
		position:absolute;
		bottom:1rem;
		left:1rem;
		color:white;
		background-color:transparent;
		border:none;
		font-size: 1.5rem;

		&:hover{
			color:$accent-light;
		}
	}
	.sub-menu{
		position:relative;
		display: block;
		overflow:hidden;
		width:auto;
		height: 0;
		transition:all 248ms linear;
		transition-delay:248ms;

		li{
			transition:transform 400ms ease-in-out;
			transform:translateY(-100%);
		}
		&.open{
			height: 100%;

			li{
				transform:translateY(0%);
			}
		}
		.menu-item{
			display: block;
		}
	}
}

/**
* HERO
*/ 

#hero-vid{
	position:relative;
	min-height:100vh;
	width:100%;

	@media screen and (max-width:767px) {
		&:before{
			content:'';
			background-image: radial-gradient(circle at center, rgba(white,1) 0, rgba(white,.1) 100%);
			position:absolute;
			top:0;left:0;right:0;bottom:0;
		}	
	}
	
	.container{
		position: absolute;
		top:50%;
		left:5vw;
		transform: translateY( -50%);
		max-width: 450px;

		text-align: center;
		color: white;
		h1{
			font-size: 3rem;
		}
		strong{
			font-size: 1.5rem;
		}
		p{
			font-size: 1.125rem;
			padding: 0 4rem;
		}
	}
	#play-full-video{
		background-color:$accent;
		box-shadow:none;
		border:none;

		display:inline-block;
		padding:1rem 2rem ;
		font-size: 1.5rem;
		color:white;
		border-radius: 15px;
		margin: .5rem auto 1rem;
		line-height: 1;

		transition: background-color 248ms ease-in-out;

		i{
			line-height: 1;
		}

		&:hover{
			background-color:rgba($accent, .8);
			cursor:pointer;
		}
	}

	@media screen and (min-width:$w-tab) {
		max-height: 80vh;
		.container{
			h1{
				font-size: 2rem;
			}
			strong{
				font-size: 1.25rem;
			}
		}
	}

	/**
	* IOS BUG
	*/ 
	//@supports not (height:100vh){
		@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
			min-height: 768px;
		}
		@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
			min-height: 1024px;
		}
		/* iphone5 */
		@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {	
			min-height: 320px;
		}
		@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {	
			min-height: 568px;
		}
		/* iPhone 4 */
		@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {	
			min-height: 320px;
		}
		@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {	
			min-height: 480px;
		}
	//}

}
// HERO OVERLAY CONTENT
.hero-content-area{
	text-align:center;

	img{
		margin:0 auto 1.5rem;
	}
	figcaption{
		color:$accent;
	}

	.hero-controls p{
		color:black;
		font-weight: bold;
		display: block;
		width: 180px;
		margin: 0 auto;
	}
}

#herovideo-modal{
	display: none;
	&.show{
		display: block;
		width: 100%;
		height: 100%;
		background-color:rgba(black,.9);
		position:fixed;
		top:0;
		bottom:0;
		left:0;
		right:0;
		z-index: 23;
	}
	iframe{
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);

		@media screen and (max-width:767px){
			max-width: 90%;
			height: auto;
		}
	}
	#close-modal{
		@extend #play-full-video;
		position:absolute;
		bottom:1rem;
		right: 1rem;
		padding:.5rem 1rem;
		z-index: 999;

	}
	@media screen and (min-width:$w-tab) {
		&.show > div{
			margin-top: 5vh;
		}
	}
	#close-video{
		position:absolute;
		bottom:0;
		left:0;
		right: 0;
		background-color:$primary;
		color:$dark;
		border-radius:0;
		border:none;
		box-shadow:none;
		text-align: center;
		text-transform: uppercase;
		display: block;

		width: calc(100% - 2rem);
		max-width: 250px;
		margin: 0 auto;
		padding: 1rem;
		z-index: 2;

		animation: riseUp 248ms 1 ease-in-out forwards;

		transition: all 248ms ease-in-out;

		&:hover{
			background-color:$accent;
			color:white;
		}

	}
}
@keyframes riseUp{
	from{transform:translateY(120%);}
	to{transform:translateY(-1rem);}
}

.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 20px 0;	
}
.marker-heading{
	font-size:1.25rem;
}
.marker-address{
	padding:0rem 0 .5rem;
}
.marker-label{
	@extend strong;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}


/**
* GALLERY
*/ 
/* WordPress Gallery 
------------------------------------------ */
.gallery {
	margin-left: -0.5em;
	margin-right: -0.5em;
}

.gallery:after {
	display: table;
	content: "";
	clear: both;
}

.gallery-item {
	margin: 0;
	float: left;
	padding: 0.5em;
}

.gallery-item img {
	width: 100%;
}

.gallery-columns-1 .gallery-item {
    width: 100%;
    float: none;
}
.gallery-columns-2 .gallery-item {
    width: 50%
}
.gallery-columns-3 .gallery-item {
    width: 33.3333%
}
.gallery-columns-4 .gallery-item {
    width: 25%
}
.gallery-columns-5 .gallery-item {
    width: 20%
}
.gallery-columns-6 .gallery-item {
    width: 16.6667%
}
.gallery-columns-7 .gallery-item {
    width: 14.2857%
}
.gallery-columns-8 .gallery-item {
    width: 12.5%
}
.gallery-columns-9 .gallery-item {
    width: 11.1111%
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}

#social-share{
	transition: all 248ms cubic-bezier(.68,-0.55,.27,1.07);


	.socialbox-list--item{
		margin:0;
		padding:0;
		display: inline-block;
		list-style: none;
		text-align: center;

		a{
			background-color:$primary;
			display: block;
			box-sizing:border-box;
			width:100%;
			height: 100%;
			&:hover{
				background-color:$accent;
				color:white;
			}
		}
	}
	@media screen and (max-width:$w-tab) {
		position:fixed;
		bottom:0;
		left:0;
		right: 0;
		z-index: 99;

		&[aria-hidden="false"],
		&.show{
			transform: translateY(0);
		}
		&[aria-hidden="true"],
		&.hide{
			transform: translateY(120%);	
		}


		.socialbox-list{
			display: flex;
			flex-flow:row;

			padding:0;
			margin:0;

			.socialbox-list--item{
				flex-basis:100%;


				a{
					
					border-left:solid .5px rgba(#333,.2);
					border-right:solid .5px rgba(#333,.2);

					padding:.3rem 0;

					
				}

				&:first-of-type a{
					border-left:solid 1px transparent;
				}
				&:last-of-type a{
					border-right:solid 1px transparent;
				}
			}
		}
	}
	@media screen and (min-width:769px) {
		position:fixed;
		top:50%;
		left:0%;

		&.show{
			transform:translate(0, -50%);
		}
		&.hide{
			transform:translate(-120%,-50%);
		}

		.socialbox-list{
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items:stretch;
		}
		.socialbox-list--item a{
			padding:.5rem;
		}

	}
}