/**
* FORM FIELDS
*/ 
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="password"],
span.selection span[role="combobox"],
textarea{
	border: solid 1px $grey;
	border-radius:0;
	box-shadow:none;
	font-family:$font-body;
	line-height:1.2!important;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="password"],
textarea{
	padding:.5rem;
}
.woocommerce #place_order{
	background-color:$accent;
	color:white;
	transition:all 248ms ease-in-out;

	&:hover{
		background-color:darken($accent, 5%);
	}
}
/*
* ENDOF FORM FIELDS
**/

/**
* FORM FIELDS
*/
.search{
	width:auto;
	height:auto;
}
.search-form{
	label{
		margin:.2rem 0;
	}
	input[type="search"]{
		background-color:rgba(white,1);
		border:solid 1px transparent;
		//border-bottom:solid 1px #8e8e8e;
		border-left:solid thin rgba($grey,.5);
		height: 2rem;
		border-radius:0;
		text-indent: .5rem;

		&:focus{
			border-bottom:solid 1px $accent;
			outline:1;
		}
	}
	input.search-submit{
		background-color: $accent;
		box-shadow:none;
		border:none;
		color:transparent;
		width: 4rem;
		height: 2rem;
		background:$accent url('../images/icons/search.svg') no-repeat center center;
		background-size:24px 24px;
		transition: all 248ms ease-in-out;

		&:hover{
			cursor:pointer;
			background-color:darken($accent,5%);
		}
	}
}
body.error404 .primary-content{
	.search-form input[type="search"]{
		border:solid 1px $accent;
	}
}
/*
* ENDOF SEARCH
**/


/**
* LOGIN-FORM
*/ 
.woocommerce-form.woocommerce-form-login{
	.form-row{
		display: block;
		width: 100%;
		label[for="username"],input#username,
		label[for="password"],input#password{
			display: block;
			width: 100%;
			float: left;
			margin: 0;
			box-sizing:border-box;
		}
	}
}

/**
* CF7 FORMS
*/
form.wpcf7-form{
	.wpcf7-form-control{
		box-sizing:border-box;
		width: 100%;
		max-width: 100%;
	}
	.wpcf7-submit{
		@extend a.btn;
		border:none;
		box-shadow:none;
		border-radius:2px;
	}

	div.wpcf7-validation-errors{
		border-color:$accent;
		background-color:$cloud;
		box-shadow: 0 10px 20px rgba(black,0.19), 0 6px 6px rgba(black,0.23);
		animation: liftSlightly 248ms ease-in-out 1 forwards;
	}
}


/**
* POPUP FORM
*/

#tooltip-popup{
	position:absolute;
	top:0;
	left:0;

	text-align:center;

	transform:translate(-100%, -100%);

	width:auto;
	padding:.2rem .5rem;

	background-color:white;
	border:solid 1px $cloud;
	border-radius:1px;

	color:$dark;


	white-space:nowrap;

	box-shadow: 0 0 1px rgba(0,0,0,.17),0 0 2px rgba(0,0,0,.2);

	opacity:0;

}

a.popup-with-form{
    position: fixed;
    z-index: 9;
    bottom: 2.3rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    background-color: #e4dcb7;
    border-radius: 150%;
    box-shadow: 0 0 1px rgba(0,0,0,.17),0 0 2px rgba(0,0,0,.2);
    border: solid 1px #ddd3a4;

    text-align:center;

    i{
    	font-size: 1.5rem;
    	line-height: 3rem;
		color: #fff;
    }

    &:hover{
    	box-shadow: 0 0 3px rgba(0,0,0,.17),0 0 2px rgba(0,0,0,.2);

    	#tooltip-popup{
    		animation: showTooltip 248ms 1 ease-in-out forwards;
    	}
    }
}
@keyframes showTooltip{
	from{
		transform:translate(0);
	}
	to{
		opacity:1
	}
}
#popup-form{
	& > div{
		background-color:white;
		max-width: 480px;
		width: 90%;
		margin: 2vmax auto;
		box-sizing:border-box;
		padding:2rem;

		border-radius:2px;

		box-shadow: 0 10px 20px rgba(white,0.19), 0 6px 6px rgba(white,0.23);
	}
	button.mfp-close{
		color:$primary;
		transform:translateX(-5vmin);
	}
}

@keyframes liftSlightly{
	from{
		transform:translateY(0) scale(0.6);
	}
	to{
		transform:translateY(-50%) scale(1);	
	}
}