/**
* Modal content
*/
.modal{
	position: fixed;
	left:0;
	width:0;
	height:0;
	overflow:hidden;
	visibility:hidden;
	background-color:white;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;

	transition:transform 400ms ease-in-out;


	&*[aria-hidden="false"]{
		visibility: visible;
		top:50%;
		left:50%;
		height: auto;
		min-width: 280px;
		width: auto;
		transform:translate(-50%, -50%);
		overflow:auto;
		height: auto;
		max-height: 95%;
		box-shadow:0px 0px 15px rgba(black,.2), 0px 0px 25px rgba(white,.6) ;
		z-index: 10000;

	}
	&*[aria-hidden="true"]{
		transform: translate(-100,-50%);
	}
	header{
		background-color:$accent;
		color:white;
		padding:1rem 1.5rem;
		border-top-left-radius:5px;
		border-top-right-radius:5px;

		position:relative;
	}
	button{
		position:absolute;
		top:50%;
		right: 1rem;

		transform:translateY(-50%);

		color:white;
		background-color:$accent;
		cursor: pointer;
		margin:0;
		font-size: 1.25rem;

		border:none;
		border-radius:150%;
		box-shadow:none;

		height: 2rem;
		width: 2rem;

		&:hover{
			background-color:darken($accent,5%);
			color:white;
		}

	}

	.modal-content{
		width: 90%;
		margin:1rem auto;
	}

	form.woocommerce-form{
		.form-row{
			width: 100%;
			float:left;
		}
	}
}

