/**
* show rows / carousels
*/

.woocommerce.columns-6{

	& * {transition:all 248ms ease-in-out;}

	ul.products{
		margin-top:1.5rem;
		margin-bottom: 1.5rem;
	}

	ul.products li.product{
		text-align: center;
		padding-bottom:1.5rem;

		.star-rating{
			position:absolute;
			top:calc(100% - 1rem);
			left:50%;
			transform:translateX(-50%);
		}

		h2{
			font-family: $font-body;
			text-transform: uppercase;
			color:$dark;
		}
		mark.count{
			display: none;
		}
	}
	// FLEX FOR BIG
	@media screen and (min-width:$w-tab){
		
		ul.products:before,
		ul.products:after{
			clear:none;
			display: none;
		}

		ul.products{
			display: flex;
			flex-flow:row;
			justify-content: space-between;
			align-items: flex-end;

			li.product,
			li.product.first,
			li.product.last{
				
				overflow: hidden;

				float:none;
				width: auto;
				margin:0 auto;
				padding:.2vw;
				padding-bottom:1.5rem;
			}
			li.product img.scale{
				transform:scale(1.02);
			}
			li.product:hover{
				img{
					transform:scale(1.02);
				}

			}
		}
	}

}
.woocommerce.columns-4,
.woocommerce.columns-3,
.woocommerce.columns-5{
	@extend .woocommerce.columns-6;
}
.woocommerce.columns-4 .slick-initialized,
.woocommerce.columns-5 .slick-initialized,
.woocommerce.columns-6 .slick-initialized{

	&.products{
		display: block;

		li.product{
			display: block;
			float:none;
			clear:none!important;
		}
	}

	li.product-category.slick-slide{
		float:left!important;
		clear:none!important;
		padding:0 .25rem;
	}
}

/**
* PRODUCT ARCHIVE
* ===============
*/


/***
* PRODUCT ARCHIVE--ARCHIVE CONTROLS
***/
.displaying-options{
	position: fixed;
	bottom: 0rem;
	right: 0rem;
	left:0;
	background-color: $cloud;
	z-index: 88;
	border-top:solid 1px $accent;
	max-height: 70vh;

	transition: transform 300ms ease-in-out;



	&[aria-hidden="true"]{
		visibility: visible;
		transform: translateY(100%);
	}
	&[aria-hidden="false"]{
		visibility: visible;
		transform: translateY(0%);
	}
	.sidebar-container{
		padding:0rem 2rem 1rem;
		margin-bottom: 1.5rem;
		ul{
			max-height: 250px;
			overflow-y: auto;
			overflow-x: hidden;

			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
			align-items: center;

			& > li{
				display: inline-block;
				box-sizing:border-box;
				line-height: 1;
				margin: .5rem;

				a{
					display: block;
					color:black;
					line-height: 1;
					margin:0;
					text-decoration: none;
					font-size: .85rem;

					padding:.5rem;
					border-radius:4px;
					background-color:$primary;

					&:hover{
						background-color:darken($primary, 5);
					}
				}
			}
			& > li:first-child{
			}

			.count{
				display:none;
			}
		}
	}

	@media screen and (min-width:$w-tab) {
		position:relative;
		top:unset;
		bottom:unset;
		right:unset;
		left:unset;
		overflow:hidden;

		background-color:transparent;
		border-top:none;

		&[aria-hidden="true"],
		&[aria-hidden="false"]{
			transform: translateY(0);
		}

		.catalog-info,
		.catalog-controls{
			padding:0;
			float:left;
		}
		.catalog-info > form,
		.catalog-info > p{
			display:inline-block;
			margin-right: 1.5rem;
		}
		.catalog-controls{
			margin-bottom: 1rem;
		}
		button[data-target="displaying-options"]{
			display:none;
		}
	}
}

button[data-target="displaying-options"]{
	position:absolute;
	right:1rem;
	top:-4rem;
	background-color:darken($accent,5%);
	width:3.5rem;
	height: 3.5rem;
	color:white;
	border-radius:150%;
	border:none;
	display:block;
	text-align:center;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	transition:all 248ms ease-in-out;
	i{
		line-height: 2.5rem;
		vertical-align: middle;

	}
	&:focus,
	&:hover{
		background-color:$accent;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);	
	}
}

.catalog-info{
	padding:1rem 2rem 0;
	& > p, & > form{
		display: block;
		float:none!important;
	}
}
.catalog-controls{
	padding:0rem 2rem 1rem;
	li{
		display:inline-block;
		margin-right: 1rem;

		button{
			background-color:transparent;
			border:solid 1px $grey;
			color:$grey;
			padding:.5rem 1rem;
			&.active{
				border-color:$accent;
				background-color:$accent;
				color:white;
				
			}
		}
	}
	@media screen and (min-width:$w-tab) {
		display: none;
	}
}

/***
* PRODUCT-ARCHIVE--ARCHIVE LAYOUT
***/

main.woocommerce-page .page-description{
	padding: 2rem 0 0;
	@media screen and (min-width:$w-tab) {
		padding: 3rem 0 0;
	}
}

main.woocommerce-page section.primary-content{
	padding:1rem 0 2rem;
	@media screen and (min-width:$w-tab) {
		padding:2rem 0 3rem;
	}
	@media screen and (min-width:$w-med) {
		padding:2rem 0 3rem;
	}
}

main.woocommerce-page .wrap{

	aside.category-sidebar{
		.sidebar-container{
			overflow: hidden;
		}
		.sidebar-header{
			font-size:1.25rem;
		}
		ul.product-categories{
			margin:1rem 0 1.5rem;
		}
		ul.wc-brand-list-layered-nav-product_brand > li,
		ul.product-categories > li{
			display: inline-block;
			box-sizing:border-box;
			margin-left: 1rem;
			line-height: 1;

			a{
				display: block;
				color:black;
				line-height: 1;
				margin:0;
				text-decoration: none;
				font-size: .85rem;

				padding:.5rem;
				border-radius:4px;
				background-color:$primary;

				&:hover{
					background-color:darken($primary, 5);
				}
			}

			.count{
				display:none;
			}

		}
		ul.wc-brand-list-layered-nav-product_brand > li:first-child,
		ul.product-categories > li:first-child{
			margin-left:0;
		}

	}
}

/**
* Hide default sidebar from mobile
*/  
.woocommerce.archive .wrap aside{
	padding: 2rem 0;
	display:none;
	@media screen and (min-width:$w-tab) {
		display: block;
	}
}



main.woocommerce-page.woocommerce-single-product .wrap{
	display:block;
}


[data-list="grid"]{
	li.product{
		display: flex;
		flex-flow: column;
		justify-content: space-between;
	}
	li.product img.wp-post-image{
		margin-bottom: 0;
	}
	@media screen and (min-width:$w-tab) {
		ul.products{
			display: flex;
			flex-flow:row wrap;
			align-items: stretch;
			justify-content: flex-start;
		}
		li.product{
			margin-left:1%;
			margin-right: 1%;
		}
	}
	@media screen and (min-width:769px) {
		ul.products:before,
		ul.products:after{
			content:none!important;
		}
		li.product{
			width: calc(100% / 3 - 2rem);
			margin-left:1rem;
			margin-right: 1rem;
		}
	}
	@media screen and (min-width:$w-dts) {
		li.product{
			width: calc(100% / 4 - 2rem);
			margin-left:1rem;
			margin-right: 1rem;
		}
	}
	@media screen and (min-width:$w-dtm) {
		
	}
}
[data-list="list"]{
	ul.products{
		display: block;
		li.product{
			width: 100%;
		}
	}
	@media screen and (min-width:$w-tab) {
		ul.products li.product{
			img{
				max-width: 150px;
			}
		}
		.product-teaser-shade{
			width: 150px;
		}
	}
	@media screen and (min-width:$w-dts) {
		ul.products li.product{
			img{
				max-width: 200px;
			}
		}
		.product-teaser-shade{
			width: 200px;
		}	
	}
	@media screen and (min-width:$w-dtm) {
		ul.products li.product{
			img{
				max-width: 250px;
			}
		}
		.product-teaser-shade{
			width: 250px;
		}	
	}
}

/***
* PRODUCT-ARCHIVE--PRODUCT LIST
***/
button.single_add_to_cart_button,
a.button.add_to_cart_button,
.product.virtual a.button{
	background-color:transparent;
	border: solid 1px black;
	color:black;
	border-radius:0;
	font-weight:400;
	text-transform:uppercase;
	

	font-size:12px;
	

	&:hover{
		border-color:$accent;
		background-color:transparent;
		color:$accent;
	}

	@media screen and (max-width:500px) {
		text-align:left;
		padding:0;
		border-color:transparent;
		&:hover{
			border-color:transparent;
			background-color:transparent;
			color:$accent;
		}		
	}
	@media screen and(min-width:500px){
		
		font-size: 14px;


	}
	@media screen and(min-width:$w-tab){
		font-size: 1rem;
	}
	@media screen and(min-width:$w-med){
		font-size: 14px;
	}
}

.woocommerce button.button.alt.disabled{
	background-color:$primary;
	color:#333;

	&:hover{
		background-color:$primary;
		color:#333;
		opacity:.8;
	}
}

/***
* PRODUCT-ARCHIVE--SINGLE PRODUCT
**/

body.single-product .woocommerce-products-header{
	@media screen and(max-width:767px) {
		padding-top: 4.5rem;
	}
}

figure.product-teaser{
	figcaption{
		position:absolute;
		top:50%;
		left:50%;
		transform: translate(-50%);
		opacity:0;
		line-height: 1;

		transition: opacity 348 ease-in-out;
	}
}

.woocommerce .product-teaser-shade{
	position:relative;
	
	&:after{
		transition: all 348ms ease-in-out;
		position: absolute;
		top:0;
		left:0;
		right: 0;
		bottom:0;
		content:'';
		opacity:0;
		background-image: radial-gradient(rgba($accent,.9) 1rem, rgba($accent,.7));	
		z-index: 1;
	}
	&:hover{
		
		&:after{
		opacity:1;
		transform: scale(1.02);
		}

		figcaption{
			color:white;
			opacity:1;
			z-index: 2;
		}
	}
	.onsale{
		margin:0!important;

		background-color:$accent;
		color:white;

		border-radius:0;

		min-width: auto;
		min-height: auto;
		line-height: 1;
		padding:.5rem 1rem;
	}
}

.woocommerce ul.products li.product .price{
	del,
	ins{
		display: inline;
		margin-right:.25rem;
		color:$dark;
	}
}
.product section.related.products,
.product section.up-sells{
	background-color:white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding:1rem 2rem;

	h2{
		font-size: 2rem;
		margin-bottom: 1.5rem;
	}

	.products li.product{
		margin-bottom: 0;
	}
	/*
	.products li.product a > *:not(.product-teaser-shade),
	.products li.product a.button{
		display:none;
	}*/
}
.product section.up-sells{
	margin-bottom:1rem;
}


/***
* PRODUCT-ARCHIVE--PAGINATION
*/
.woocommerce nav.woocommerce-pagination{
	ul{
		border:none;
		li{
			border:none;
			margin: 0 .25rem;
			span.current{
				background-color:transparent;
				color:$accent;
				border:solid 1px $accent;
				border-radius:5px;
			}
			a{
				color:$grey;
				border:solid 1px $grey;
				border-radius:5px;

				&:hover{
					background-color:$accent;
					border-color:$accent;
					color:white;
				}
				
			}
		}
	}
}

/**
* Notes and buttons
*/
.woocommerce input#place_order, // Place order
input.button[name="update_cart"],
input.button[name="apply_coupon"], // Apply discount coupon
a.checkout-button.button.alt.wc-forward, // Continue to checkout
button.single_add_to_cart_button.button.alt, //Add to cart -button
a.button.wc-forward{ // Message button
	background-color:$accent;
	color:white;
	border-radius:2px;
	font-family:$font-body;
	font-weight:normal;

	transition:all 248ms ease-in-out;

	&:hover{
		background-color:$primary;
		color:black;
	}
}

input.button[name="update_cart"]{
	background-color:$primary;
	color:black;
	&:hover{
		background-color:rgba($primary,.8);
	}
}


.woocommerce input#place_order{

}

.woocommerce a.remove{
	color:$dark!important;

	&:hover{
		background-color:transparent;
		color:rgba($dark, .5)!important;
	}
}
span.woocommerce-Price-currencySymbol,
span.woocommerce-Price-amount.amount{
	color:$dark;
}

// Icons
.woocommerce-info::before,
.woocommerce-message::before{
	color:$accent;
}

// Messages
.woocommerce-info,
.woocommerce-message{
	border-top-color:$accent;
}

.woocommerce-info,
.woocommerce-message{
	background-color:$cloud;
	color:$dark;
	box-shadow: 0 10px 20px rgba(black,0.19), 0 6px 6px rgba(black,0.23);

	a.button{
		background-color:$accent;
		color:white;
		border-radius:2px;
		font-weight: normal;

		&:hover{
			background-color:$accent-dark;
			color: white;
		}
	}
}

.woocommerce form input.button[type="submit"]{
	background-color:$accent;
	color:white;
	border-radius:2px;
	font-weight: normal;

	&:hover{
		background-color:$accent-dark;
		color: white;
	}
}

.woocommerce-password-strength{
	font-weight:normal;
}
.woocommerce-password-strength.short,
.woocommerce-password-strength.bad{
	background-color:$dark;
	color:white;
}

.woocommerce-password-strength.good{
	background-color:$primary;
	color:$dark;
}

/**
*  WooCommerce - my account
*/


@media screen and (max-width:$w-tab) {
	// My account mobile layout
	.woocommerce-account article .woocommerce{
		display: flex;
		flex-flow:column nowrap;
	}
	.woocommerce-MyAccount-navigation{
		//order: 3;
		margin-bottom: 2rem;
		ul{
			display: flex;
			flex-flow: row wrap;

			& > li { max-width: auto; margin: .5rem;}
		}
	}
	.woocommerce-Message{
		padding:1rem;
		&:before{
			display: none;
		}

	}
}

.woocommerce-account .woocommerce-MyAccount-navigation ul{
	padding-left:0!important;
	li.woocommerce-MyAccount-navigation-link{
		margin-bottom: .5rem;
		max-width: 200px;
		list-style:none;
	}
	.woocommerce-MyAccount-navigation-link a{
		background-color:$primary;
		padding: .5rem 1rem;
		display: block;
		text-decoration: none;

		&:hover{
			background-color:$accent;
			color:white;
		}
	}
	li.woocommerce-MyAccount-navigation-link--customer-logout a{
		background-color:$cloud;
		color:$dark;
	}
}

.woocommerce-account .addresses .title, 
.woocommerce-account .addresses .title{
	.edit,h3{
		display:block;
		float:none;
	}
	h3{
		margin-bottom: .2rem;
	}
	.edit{
		margin-bottom: 1rem;
	}
}

/***
* BRANDS
*/ 
#brands_a_z{
	ul.brands_index{
		margin-bottom:2rem;
	}
	ul.brands{
		margin-bottom: .5rem;
		border-bottom:solid 1px $cloud-2;
		padding:1rem;
	}
	.brands_index li{
		list-style: none;
	}
	.brands_index li a{
		border-color:$accent;
	}
}

/***
* TERMS
*/
.term-description{
	padding: 2rem 0;
}