
@font-face {
    font-family: "Archer-Bold";
    src: url('Archer-Bold.eot');
    src: url('Archer-Bold.eot?#iefix') format('embedded-opentype'), url('Archer-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Archer-Book";
    src: url('Archer-Book.eot');
    src: url('Archer-Book.eot?#iefix') format('embedded-opentype'), url('Archer-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Archer-BoldItalic";
    src: url('Archer-BoldItalic.eot');
    src: url('Archer-BoldItalic.eot?#iefix') format('embedded-opentype'), url('Archer-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Archer-Medium";
    src: url('Archer-Medium.eot');
    src: url('Archer-Medium.eot?#iefix') format('embedded-opentype'), url('Archer-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GothamRounded-Bold";
    src: url('GothamRounded-Bold.eot');
    src: url('GothamRounded-Bold.eot?#iefix') format('embedded-opentype'), url('GothamRounded-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GothamRounded-Book";
    src: url('GothamRounded-Book.eot');
    src: url('GothamRounded-Book.eot?#iefix') format('embedded-opentype'), url('GothamRounded-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GothamRounded-Medium";
    src: url('GothamRounded-Medium.eot');
    src: url('GothamRounded-Medium.eot?#iefix') format('embedded-opentype'), url('GothamRounded-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}