/**
* Styles for blogs and archives
*/  

/**
* ARCHIVE
*/ 

body.archive section.primary-content.blog div.container{

	@media screen and (min-width:$w-tab) {

		margin-top:2rem;
		margin-bottom:2rem;

		display: flex;
		flex-flow:row wrap;
		justify-content: flex-start;

		@supports (grid-template-areas: "xxx yyy"){
			margin-top:0rem;
			margin-bottom:0rem;
			display: grid;

			align-items:start;

			grid-template-columns: repeat(2,1fr);
			grid-template-rows: repeat(5,auto);
			grid-column-gap:1rem;
			grid-row-gap:1rem;


		}

	}
	@media screen and (min-width:$w-dts) {

		margin-top: 1.5rem;

		@supports (grid-template-areas: "xxx yyy"){

			display: grid;
			grid-template-columns: repeat(3,1fr);
			grid-template-rows: repeat(3,auto);
			grid-column-gap:1rem;
			grid-row-gap:1rem;


		}	
	}
	@media screen and (min-width:$w-dtl) {

		margin-top: 1.5rem;

		@supports (grid-template-areas: "xxx yyy"){

			display: grid;
			grid-template-columns: repeat(4,1fr);
			grid-template-rows: repeat(3,auto);
			grid-column-gap:1rem;
			grid-row-gap:1rem;


		}	
	}

}
aside[name="related-articles"] article.related-article,
body.archive article.post{
	
	margin: 0 auto 1.5rem;
	padding:1rem;
	text-align:left;
	border:solid 1px $cloud;

	@media screen and (min-width:$w-tab) {
		margin-bottom: 0;

		width: calc(50% - 2rem);
		margin-left: 1rem;
		margin-right: 1rem;
	}
	@media screen and (min-width:$w-dts) {
		width: calc((100% / 3) - 2rem);
	}


	&:first-of-type{
		margin-top: 2rem;
		@media screen and (min-width:$w-tab) {
			margin-top: 2rem;
		}
	}



	/**
	* Super old stuff
	* eg. No support for @supports
	*/
	display:flex;
	flex-flow:column;
	justify-content:flex-start;
	align-items:stretch;

	margin: 2rem auto;
	figure{
		order:-1;
	}
	
	/**
	* Grid way
	*/ 
	@supports (grid-template-areas: "xxx yyy"){
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		display: grid;
		//align-items:start;
		justify-content: inherit;
		grid-template-rows:auto auto auto;
		grid-template-areas:
			"image"
			"title"
			"content";
		header{
			grid-area:title;
		}
		.single-article-content__archive{
			grid-area:content;
		}
		figure{
			grid-area:image;
			overflow:hidden;
		}
	}

	
	@supports not (grid-template-areas: "xxx yyy"){
		/**
		* No grid
		*/ 
		@supports (display:flex){
			display: flex;
			figure{
				order:-1;
			}		
		}
	}

	figure{
		//Hack the gap away
		margin:-1rem -1rem 0 -1rem;
		position: relative;

		*{
			transition: all 248ms ease-in-out;
		}
		figcaption{
			opacity:0;

			position:absolute;
			top:0;
			left: 0;
			right: 0;
			bottom: 0;

			background-image: radial-gradient(rgba($accent,.9) 1rem,rgba($accent,.7));

			color:white;
			
		}
		i.fa-link{
			display: block;
			position:absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			border:solid 2px white;
			padding:1rem;

			font-size: 1.25rem;

			&:after{
				content:'';
				display: block;

				position:absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom:0;
				border-right:solid 2px transparent;
				border-bottom:solid 2px transparent;
				
			}
		}
		a:hover{

			img{
				opacity:.5;	
				
			}
			figcaption{
				opacity:1;	
				
			}

			i.fa-link:after{
				border-color:white;
				transform: translate(.5rem, .5rem);
			}

		}

	}
	
}

/**
* SINGLE
*/ 
body.single article.post{
	max-width: 800px;

	p{
		overflow-x:hidden;
	}
	figure[role="banner"]{
		margin-bottom: 2.5rem;
	}

	figure:not(figure[role="banner"]){
		max-width: 90%;
		margin: 1.2rem auto;		
	}
	img:not(.blog-hero){
		max-width: 90%;
		margin:1.2rem auto;
	}

	div.gallery{
		padding:1rem;
		background-color:$cloud-2;
		display: flex;
		justify-content: space-between;

		margin: 2.5rem 0;

		& > figure,
		& > img{
			flex-shrink: 1;
			margin: 0 .5rem;
		}

		figure img{
			max-width:100%;
			margin: 0;
		}
	}
	.single-meta{
		margin-bottom: 0;
		color:$grey;
		font-weight: 400;
		text-align: left;
		span[name="meta-date"]{
			margin-left: 0;
		}
		span{
			margin: 0 .5rem;
		}
	}
	
}

/**
* Favourite prods
*/ 
body.single article.post .favourite-prods{
	padding: 2.5rem 0;
	position:relative;
	.woocommerce{
		width: 100%;
		margin: 2.5rem auto;
	}
	.product{
		position:relative;
		margin: 0 1rem;
	}
	.onsale{
		background-color:$accent;
		color:white;
		padding:.4rem 1.5rem;

		text-decoration: none;

		position:absolute;
		top:0;
		left:0;
	}
	.wp-post-image{
		width: 100%;
		max-width: 100%;
		height: auto;
		margin: 0;
	}

	.slick-dots{
		bottom: 1.5rem;
	}

	@media screen and(min-width:$w-tab) {
		li.product{
			margin: .1rem 1rem;
		}
		
		.woocommerce-LoopProduct-link{
			display: block;
		}

	}
}

/**
* AUTHOR
*/ 
.single-article-footer__testimonial{
	h2{
		margin-bottom: 1.5rem;
	}
	figure{
		//border: solid 1px rgba($grey,.4);
	}
	img{
		width: 100px;
		height: 100px;
		border-radius:150%;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	}
	figcaption{

	}
}

/** 
* Related articles
*/
body.single aside[name="related-articles"]{
	background-color:$cloud;
	border-top: solid 1px #e6e6e6;
	.container.grid{
		@media screen and (min-width:$w-tab) {

			margin-top: 1.5rem;
			padding-bottom: 1.5rem;

			@supports (grid-template-areas: "xxx yyy"){

				display: grid;

				align-items: start;

				grid-template-columns: repeat(3,1fr);
				grid-template-rows: repeat(1,auto);
				grid-column-gap:1rem;
				grid-row-gap:1rem;


			}	
		}
		@media screen and (min-width:$w-dts) {

		}
	}
	.related-article{
		background-color:white;
		border-color:rgba($grey,.2);
	}
}

aside.related-posts--single{
	h1.small{
		text-align: center;
	}
}

.related-posts-wrapper{
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
	align-items:center;

	margin-bottom:4rem;

	.related-post{
		margin:1rem;
		position:relative;
		width:100%;
		border: solid .5rem white;
		border-radius:2px;
		box-shadow: 0 0 2px rgba(0,0,0,.17),0 0 1px rgba(0,0,0,.2);
		.related-post--header{
			height: 20rem;
			width:100%;
			background-position:center;
			background-size:cover;
		}
		div.related-post--content{
			position:absolute;
			bottom:0;
			left:50%;
			text-align: center;
			display: inline-block;
			transform: translateX(-50%);
			padding:1rem .5rem;
			background: radial-gradient(circle at center, rgba(white,1) 0%, rgba(white,.4) 100%  );
			width:100%;
			z-index: 1;

			h2{
				margin:0;
				color:#333;

			}
		}
	}

	@media screen and (min-width:$w-tab) {
		flex-flow: row nowrap;
		.related-post{
			width:auto;
			min-width: 45%;
		}
	}
}