//EXTRA BUTTONS



/**
*PRODUCTS

main.woocommerce-page{



	ul.products li.product .price del {
	    display: inline;
	}*/
	
	/*
	


	section.primary-content{
		padding:2rem 0;

		@media screen and (min-width:$w-dts) {
			.products{
				padding:4rem 0 2rem;
			}
		}
	}
	// WHEN GRID-VIEW IS SELECTED
	[data-list="grid"]{
		li.product{
			display: flex;
			flex-flow: column;
			justify-content: space-between;
		}
		li.product img.wp-post-image{
			margin-bottom: 0;
		}
		@media screen and (min-width:$w-tab) {
			ul.products{
				display: flex;
				flex-flow:row wrap;
				align-items: stretch;
				justify-content: flex-start;
			}
			li.product{
				margin-left:1%;
				margin-right: 1%;
			}
		}
		@media screen and (min-width:769px) {
			ul.products:before,
			ul.products:after{
				content:none!important;
			}
			li.product{
				width: calc(100% / 3 - 2rem);
				margin-left:1rem;
				margin-right: 1rem;
			}
		}
		@media screen and (min-width:$w-dts) {
			li.product{
				width: calc(100% / 4 - 2rem);
				margin-left:1rem;
				margin-right: 1rem;
			}
		}
		@media screen and (min-width:$w-dtm) {
			
		}
	}
	// WHEN LIST-VIEW IS SELECTED
	[data-list="list"]{
		ul.products{
			display: block;
			li.product{
				width: 100%;
			}
		}
		@media screen and (min-width:$w-tab) {
			ul.products li.product{
				img{
					max-width: 150px;
				}
			}
			.product-teaser-shade{
				width: 150px;
			}
		}
		@media screen and (min-width:$w-dts) {
			ul.products li.product{
				img{
					max-width: 200px;
				}
			}
			.product-teaser-shade{
				width: 200px;
			}	
		}
		@media screen and (min-width:$w-dtm) {
			ul.products li.product{
				img{
					max-width: 250px;
				}
			}
			.product-teaser-shade{
				width: 250px;
			}	
		}
	}
}
*/