*[aria-hidden="true"]:not('.product'){
	visibility:hidden;
}
*[aria-hidden="false"]:not('.product'){
	visibility:visible;
}
*[aria-visible="false"]:not('.product'){
	visibility:hidden;
}
*[aria-visible="true"]:not('.product'){
	visibility:visible;
}

body.home{
	animation: despacito 200ms ease-in forwards;
	animation-delay: .7s;
	opacity:0;
	
}
@keyframes despacito{
	to{opacity:1;}
}

body.lock{
	position:fixed;
	//width: calc(100% - 17px);
}

body{
	background-color:$cloud;
	margin:0;
	width:100%;
}
/*main{
	
}*/


/***
* Pre-header
*/  

.control-panel{
	border-bottom:solid 1px rgba($grey,.3);
	background-color:$cloud;
	padding:1rem 0;
	overflow-y:hidden;
	position:relative;

	.account{
		&:before{
			content:'|';
			margin-right: 1rem;
			margin-left: .3rem;
			color:#8e8e8e;
		}
		&:after{
			content:'|';
			margin-left: 1rem;
			margin-right: .3rem;
			color:#8e8e8e;
		}
	}
	@media screen and (max-width:$w-med) {
		&:after{
			content: '\f061';
			font-family: 'FontAwesome';
			display: block;
			position:absolute;
			top:0;
			bottom:0;
			right: 0rem;
			width: 3rem;
			z-index: 2;
			color:rgba($accent, .5);
			line-height:3rem;
			background:linear-gradient(to right, $cloud,darken($cloud,12%));
			transition: opacity 248ms ease-in-out;
			opacity:1;
			text-align: center;
		}
		&.touch:after{
			opacity:0;
		}
	}
	@media screen and (max-width:$w-tab){
		padding:0;
		.container{
			width: 97%;
			display: block;
			overflow: hidden;
			padding:.5rem 0;
			margin:0 auto;
			text-align:center;
			white-space: nowrap;
			overflow-x:auto;
			-webkit-overflow-scrolling: touch;
			-ms-overflow-style: -ms-autohiding-scrollbar;

			

			.some-list,.lang-switch,.subscribe,.account,.cart{
				display: inline-block;
				width: auto;
				margin: 0 .5rem;
				/*&:after{
					content:'|';
					margin-left: 1rem;
					margin-right: .3rem;
					color:#8e8e8e;
				}*/
			}
			.search{
				display: inline-block;
				width: auto;
				margin: 0 .5rem;
			}
		}
	}

	@media screen and (min-width:769px) {
		padding:0;
		.container{
			display: flex;
			flex-flow:row;
			justify-content: space-around;
			align-items: center;
			padding:0;
			width: 100%;
			
		}
	}
	
}

@keyframes flyIn{
	from{top:0; opacity:0;}
	to{top:5vh; opacity:1;}
}

/**
* / Pre-header
**********/ 

/**
* Site-header
*/
header.site-header{

	position:absolute;
	z-index:22;
	top:0;
	right:1rem;
	height:80px;
	background-color:transparent;

	button[data-target="main-nav"]{
		margin-right:1rem;
		margin-top:1rem;
		padding:0;

		font-size: 2rem;

		color:$primary;

		transition: color 248ms ease-in-out;

		&:hover{
			color:$cloud;
		}

	}

}


/**
* Page hero
* Note: Designed for images with w/h ratio of 3:1
*/
.page-hero{
	position:relative;
	width:100%;
	margin:0;
	padding-bottom: 33.333%;
	.page-hero--image{
		position:absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;

		background-color:$cloud-2;
		background-size:cover;
		background-position:center;
	}
}


/**
* ROWS
*/
section.content-row{

}
section.content-row.white{

	margin: 1rem 0;
	background-color:white;

	.container{
		
	}

}
section.content-row.pop{
	background-color:$accent-light;
	border-bottom:solid 2px $accent;
}

section.content-row.shop-show{
	
	margin-bottom:1.5rem;

	.shop-show-content{
		text-align: center;
		h2{}
	}
	.shop-car{
		display: flex;
		flex-flow:row;
		figure{
			padding:2px;
			figcaption{
				text-align: center;
			}
		}
	}
}

section.content-row.lcl{
	margin-bottom:1.5rem;
	.lcl-cols{
		
		min-height: 320px;

		display: flex;
		flex-flow:row wrap;
		justify-content: space-around;
		align-items:center;
		padding: 1.5rem 0 2rem;
		.c{
			order:1;
			width: 100%;
			text-align:center;
		}
		.l-con{
			text-align:center;
			padding:1rem;
			width: 100%;
		}
		.left{
			order:2;
		}
		.right{
			order:3;
		}
	}

	@media screen and (min-width:$w-tab) {
		.lcl-cols{

			min-height: auto;

			display: flex;
			flex-flow:row;
			justify-content: center;
			align-items:center;
			align-content:center;

			.l-con{
				min-width: 25%;
				padding:1rem 2rem;

				flex-grow: 1;
			}
			.c{
				padding:0rem;
				margin-bottom:0;
				flex-grow: 1;
				width: auto;
				order: 2;
			}
			.left{
				order: 1;
			}
			.right{
				order: 3;
			}
		}
	}
	@media screen and (min-width:$w-med) {
		.lcl-cols{
			.l-con{
				max-width: 20%;
			}
		}
	}
}
// 3 col wysiwyg
section.content-row.cols-3{
	
	margin-bottom:1.5rem;

	& > .cols-carousel{

		button.slick-arrow:before{ color: rgba($dark,.2); font-size:2rem;}
		button.slick-next:before{@include angleRight; }
		button.slick-prev:before{@include angleLeft; }

	}
	& > .cols-static{
		@media screen and (min-width:$w-tab) {
			display: flex;
			flex-flow: row;
			justify-content: space-around;
			align-items:flex-start;
		}	
	}

	.col{
		padding:1rem 2rem; 
	}
}
section.content-row.images{

	margin-bottom:2rem;
	.images-wrap{
		display: flex;
		flex-flow: row wrap; 
		a{
			display: block;
			width: auto;
			//max-height: 230px;
			overflow: hidden;
			padding:2px;

			flex-grow:1;

			margin:1px;

			background-size:cover;
			background-position:center;
		}
	}
	.placeholder{
		width: auto;
		height: auto;
	}

	display:none;

	@media screen and (min-width:$w-tab){

		display: block;

		.images-wrap{
			flex-flow: row;

			img:nth-child(1){
				padding-left:0;
			}
			img:last-child{
				padding-right:0;
			}
		}
	}
}

section.content-row.brands{

	border-bottom:solid 1px darken($cloud,5%);
	margin-bottom:1.5rem;
	.container-full{
		border-top:solid 1px darken($cloud,5%);
		background-color:white;
		padding:1.5rem 3rem;
		button.slick-arrow:before{ color: rgba($dark,.2); font-size:2rem;}
		button.slick-next{ right: .75rem; &:before{@include angleRight;} }
		button.slick-prev{ left: .75rem; &:before{@include angleLeft;} }
	}
	.container.brand-row-content{
		text-align: center;
		margin-bottom: 1rem;
	}

	ul.brand-thumbnails.slick-slider{
		li{
			margin:.5rem 1rem;
		}
	}
	.slick-arrow-container{
	    position: absolute;
    	top: 50%;
    	left: 0;
    	right: 0;
	}
}




/**
* SITE FOOTER
*/ 

//TIE
div.tie{
	padding: 1rem 0;
	background-color:$grey;
	p{color:white;font-family:$font-headings;text-align:center; font-size:2rem; margin: 0;}

}

footer.site-footer{
	background-color:black;

	a{
		text-decoration: none;
	}
	a:hover{
		color:$accent;
	}
	div[role="siteinfo"]{//site meta container
		padding:1rem 0;
		text-align: center;
	}
	.grid{
		width:100%;
		padding-top:2rem;
	}
	.container{
		width:95%;
	}
	.list-area .no-angle{
		img{
			width: 100%;
			max-width: 150px;
		}
	}

	@media screen and(min-width:550px) {
		.grid{
			display: flex;
			flex-flow: column;
		}
		.col{
			display: flex;
			flex-flow:row;
			justify-content: space-between;
			align-items:stretch;
		}
		.list-area{
			width: calc(50% - 2rem);
		}
	}
	@media screen and(min-width:$w-tab) {
		.grid{
			flex-flow:row;
			justify-content: space-between;
		}
		.col{
			display: block;
			padding: 0 1rem;
		}
		.list-area{
			width:100%;
			padding:0 1rem;
		}
		.col-1,.col-2{
			border-right:solid 1px rgba($grey, .4);
		}
	}
	@media screen and(min-width:$w-dts) {
		.container{
			width: 90%;
		}
		.col{
			width: calc(100% / 3);
		}
	}
}
footer.site-footer .site-info{
	// Visuals
	background-color:$cloud;

	// Placement
	.site-info_col{
		padding:1rem 2rem;
		& > *{
			color:$dark;
		}
	}
	.site-info_col:first-of-type{
		margin-top:3rem;
	}
	.site-info_col:last-of-type{
		margin-bottom:3rem;
	}

	// Typography
	.site-info_col h2{
		font-size: 1.25rem;
		margin-top:1rem;
	}

	@media screen and (min-width:$w-tab) {
		.flex-wrap{
			display: flex;
			flex-flow: row;
			justify-content: space-between;
			align-items:stretch;

		}

		.site-info_col{
			padding: 2rem 0;
		}

		// Remove margins
		.site-info_col:first-of-type{
			margin-top:0;
		}
		.site-info_col:last-of-type{
			margin-bottom:0;
		}

	}
	@media screen and (min-width:$w-med) {
		.site-info_col{
			padding: 3rem 2rem;
		}
	}
	@media screen and (min-width:$w-dts) {
		.site-info_col{
			padding: 4rem 3rem;
			max-width: 50%;
		}
	}
}
footer.site-footer .site-meta{
	background-color:black;
	text-align:center;
	padding:1rem 1rem 2rem;
	z-index:1000;
	p{
		margin:0;
		color:white;
	}
	@media screen and (min-width:$w-tab) {
		padding:1rem 1rem 4rem;
	}
}



aside[name="suggested-articles"]{
	figure{
		display: none;
	}
}

#scrollTop{
	position:fixed;
	z-index:1002;
	bottom:6rem;
	right:2rem;

	width:3rem;
	height:3rem;

	background-color:$primary;
	border-radius:150%;

	box-shadow:0 0 1px rgba(black,.17), 0 0 2px rgba(black,.2);
	border:solid 1px darken($primary,5);

	i{
		font-size: 2rem;
		font-weight: bold;
		color:white;
	}
	&:hover{
		box-shadow:0 0 3px rgba(black,.17), 0 0 2px rgba(black,.2);
	}
	opacity:0;
}
body.woocommerce{
	#scrollTop{
		display: none;
	}
}


/**
* SIDEBAR
*/ 
aside.post-sidebar{
	display:none;
	margin-bottom:2.5rem;
	#primary-sidebar[data-length="1"]{

	}
	#primary-sidebar[data-length="2"]{
		@media screen and (min-width:$w-tab) {
			.sidebar-col{
				width: 48%;
				float:left;		
			}
			.sidebar-col:nth-child(2){
				margin-left:4%;
			}
		}		
	}
	#primary-sidebar[data-length="3"]{
		@media screen and (min-width:$w-tab) {
			display: flex;
			flex-flow:row;
			justify-content: space-around;

			.sidebar-col{
				margin:0;
			}
		}		
	}
}

