/**
* Front page stuff
*/ 
#fp_carousel{
	height:auto;
	.slick-slide{
		background-size:cover;
		background-position:center center;
		background-repeat:no-repeat;
		min-height: 300px;
		padding:0rem;

		display: flex;
		flex-flow:column;
		justify-content: center;
		align-items: flex-start;
	}
	.slide-container{
		display: flex;
		flex-flow:column;
		justify-content: center;
		height: 100%;
		width: 100%;
		min-height: 300px;
		position:unset;
		padding:1.5rem;
		&:before{
			content:'';
			display: block;
			position: absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			background-image:linear-gradient(to bottom, rgba(black,.5),rgba(black,0));
			z-index:0;
		}

		& > p, & > a{
			z-index: 1;
		}
	}


	.slick-dots{
		bottom:0;
	}
	@media screen and(min-width:$w-tab) {
		.slick-slide{
			height: 45vh;
			min-height: 450px;
			

			.slide-container{
				width: 95%;
				max-width: 1280px;
				margin: 0 auto;
				align-items: flex-start;
				&:before{
					background-image:linear-gradient(to bottom, rgba(white,.5),rgba(white,0));
				}
			}
		}
	}
}
/**
* Yleiset
*/
section.generic{
	position:relative;

	margin-bottom:2.5rem;
	padding: 2rem 0;
	overflow-y:hidden;

	@media screen and (min-width:$w-tab) {
		padding: 3rem 0;
		margin-bottom: 2rem;
	}
	@media screen and (min-width:$w-dts) {
		/*padding: 6rem 0;
		margin-bottom: 4rem;*/
	}
}
header.section-header{
	text-align: center;
	margin-bottom: 2.2rem;
	padding-left:1rem;
	padding-right:1rem;
}
footer.section-footer{
	text-align: center;
	margin-top:2.5rem;
	margin-bottom: 0;
	padding-left:1rem;
	padding-right:1rem;
}

/**
* Nostot
*/ 
section[name="cards"]{
	padding:2rem 0;
	figure{
		padding:1rem;
		img{
			max-width:100%;
			height: auto;
		}
	}
	@media screen and (min-width:$w-tab) {
		//padding: 1rem 0 4rem; 
		//margin-bottom: 4rem;
	}
	@media screen and (min-width:$w-dts) {
		//padding: 2rem 0 2rem;
		//margin-bottom: 6rem;
	}
}
/**
* Tuotenostot
*/ 
section[name="product-categories"]{
	padding-top:0;
	padding-bottom:0;
	margin-bottom:1rem;
	.container{
		width: calc(100% - .8rem);
	}
	li{
		display: inline-block;
		width: calc(50% - .2rem);

		&:nth-child(even){
			margin-left: .4rem;
		}
		a{
			
		}
	}
	figure{
		position:relative;
		overflow:hidden;
		&:after{
			content:'';
			display: block;
			position:absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom:0;
			background-image: radial-gradient(rgba(black,.3), rgba(black, .1));
			transition: all 248ms ease-in-out;
		}
		&:hover:after{
			transform:scale(2);
			background-image: radial-gradient(rgba($accent,.5), rgba($accent, .1));
		}
	}
	figcaption{
		position:absolute;
		display: block;
		width: 100%;
		z-index: 1;
		top:50%;
		padding:.5rem;
		color:white;

		text-align: center;

		transform:translateY(-50%);

		@extend p.ingressi;
		@include responsive-font(3vw,16px, 26px,18px);	
		
	}
	@media screen and (min-width:$w-tab) {
		.container{
			width: calc(100% - 2rem);
		}
		li{
			width: calc(50% - .5rem);
			margin-bottom: 1rem;

			&:nth-child(even){
				margin-left: 1rem;
			}
		}
		figure{
			height:300px;
		}
	}
	@media screen and (min-width:$w-dts) {
		padding:2rem 0;
	}
}
section[name="featured-products"]{
	
	.woocommerce{
		width: 90%;
		margin: 0 auto;
	}
	.product{
		position:relative;
		margin: 0 1rem;
		padding:.5rem 0;
	}
	.onsale{
		background-color:$accent;
		color:white;
		padding:.4rem 1.5rem;

		text-decoration: none;

		position:absolute;
		top:0;
		left:0;
	}
	.wp-post-image{
		width: 100%;
		height: auto;
	}

	@media screen and(min-width:$w-tab) {
		li.product{
			margin: .1rem 1rem;
		}
		
		.woocommerce-LoopProduct-link{
			display: block;
		}

	}
}
section[name="blog-banner"]{
	margin-bottom:1rem;
	@media screen and (max-width:767px) {
		background-image:none!important;	
		background-color:$accent;
	}
	.note{
		color:white;
		width: 100%;
		text-align: center;
		padding:2rem;
	}
	@media screen and (min-width:$w-tab) {
		background-size:cover;
		background-position:center;
		padding:4rem 2rem;
		.note{
			padding:4rem 2rem 2rem;
			text-align: left;
			width: auto;
			display: inline-block;
			background-color:rgba($accent,.8);
		}
	}
	@media screen and (min-width:$w-dts) {
		padding:6rem 0;
	}
	@media screen and (min-width:$w-dtl) {
		padding:8rem 0;
	}
}

section[name="top-sellers"]{
	.woocommerce{
		width: 90%;
		margin: 0 auto;
	}
	.product{
		position:relative;
		margin: 1rem;
	}
	.onsale{
		background-color:$accent;
		color:white;
		padding:.4rem 1.5rem;

		text-decoration: none;

		position:absolute;
		top:0;
		left:0;
	}
	.wp-post-image{
		width: 100%;
		height: auto;
	}

	@media screen and(min-width:$w-tab) {
		li.product{
			
		}
		
		.woocommerce-LoopProduct-link{
			display: block;
		}

		.slick-controls{
			//font-size: 1rem;
			//line-height: 1;
			position:absolute;
			top:50%;
			left:0;
			right: 0;
			transform: translateY(-50%);
		}

		.slick-prev{
			left:1rem;
			opacity:1;
		}
		.slick-next{
			right:1rem;
			opacity:1;
		}
	}
}

/**
* RETAILERS
*/ 
section[name="retailers"]{
	h1{
		@extend h2;
	}
	padding-bottom:1rem;
	ul{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		li{
			margin: 0 auto;
		}
		a{
			display: block;
			padding:.5rem;
			box-sizing:border-box;
		}
		img{
			min-width:80px;
			max-width: 150px;
			height: auto;
			display: block;
			line-height: 1;

		}
	}
}
/**
* IG -feed
*/ 
section[name="igfeed"]{
	background-color:$cloud-2;
	border-top: solid 1px darken($cloud,5%);
	border-bottom: solid 1px darken($cloud,5%);

	padding:1rem 0;

	h1{
		@extend h2;
	}
}
/**
* TESTIMONIALS
*/ 
section[name="testimonials"]{
	h1{
		@extend h2;
	}
	.container{
		display: flex;
		flex-flow:row wrap;
		justify-content: center;
		align-items:stretch;
	}
	a{
		display: block;
		text-transform: none;
		text-decoration: none;

		&:hover{
			*{color:$accent!important;}
		}
	}
	figure{
		margin: 1rem;
		width: calc(50% - 2rem);
	}
	img{
			width:100%;
			height: auto;
		}
	figcaption{
			transition: color 248ms ease-in-out;
			display: none;
			color: $grey;
			padding:.5rem;
	}
	cite{
		font-family: $font-headings;
		color:black;
		&:before{
			content:'- ';
		}
	}

	@media screen and (min-width:$w-tab) {
		padding:0rem 0 1rem;
		figure{
			width:calc(25% - 2rem);
		}
		header{
			margin-bottom:1rem;
		}
		footer{
			margin-top:.5rem;
		}
	}
	@media screen and (min-width:$w-med) {
		.container{
			flex-flow: row;
		}
		figure{
			width:auto;
			flex-grow: 1;
			max-width: calc(250px + 2rem);
		}	
		figcaption{
			display: block;
		}
	}
}