.page-header{
	background-color:white;
	border-bottom: solid 1px darken(white,5%);

	padding:1.5rem 0 0;

	h1{
		margin:0;
	}

	.page-logo{
		display: block;
		text-align: center;
		a{
			display: inline-block;
		}
		img{
			margin: 0 auto 2rem;

		}
	}
}
section.primary-content{
	article{
		padding: 2rem;
		max-width: 1100px;
		//text-align: center;
		margin:2rem auto;

		background-color:white;

		box-shadow: 0 0 2px rgba(black,.17), 0 0 1px rgba(black,.2);
	}
}

/**
* Flex page contents
*/

div.flex-content-wrap{

}
$colwidth_12:50%;
$spacing_12: 1.25rem;
$colwidth_13: calc(100% / 3);
$spacing_13: 2rem;
$colwidth_14: calc(100% / 4);
$spacing_14: 2rem;

div.page-flex-row{

	&.half .squeeze{
		width:100%;
		margin: auto;
	}

	&.raised{
		box-shadow: 0 1px 3px rgba(black,.12), 0 1px 2px rgba(black,.24);
		z-index: 2;
	}
	&:first-of-type{
		padding-top:2rem;
	}
	&:last-of-type{
		padding-bottom:2rem;
	}
	&.white{
		background-color:white;
	}
	&.cwyel{
		background-color:$primary;	
	}
	&.transp{
		background-color:transparent;	
	}
	/**
	* Photo has same margins as headings
	*/ 
	&.text_11 .container img,
	.flex-col img{
		display: inline-block;
		margin: 1.414rem 0 .5rem;
		&.aligncenter{
			display: block;
			margin: 0 auto 1rem;
		}
	}

	&.text_11 .container figure,
	.flex-col figure{
		display: block;
		margin: 0 0 1rem;

		&.aligncenter{
			margin: 0 auto 1rem;
		}
	}

	&.shop-row{
		padding-bottom:2rem;
		.slick-list{
			padding-bottom:4rem;
		}
		.slick-slide{
			margin: 0!important;
			float:left!important;
			padding:1rem!important;
		}
		.slick-dots{

		}
	}


	@media screen and (min-width:$w-tab) {

		&.half .squeeze{
			width:75%;
			margin: auto;
		}

		padding-top: 1rem;
		padding-bottom: 1rem;

		&.map_12,
		&.text_12{
			.equal .flex-col{
				width:calc( #{$colwidth_12} - #{$spacing_12} );
			}
			.fluid .flex-col{
				padding:0 1.5rem;
			}
			.fluid .flex-col:first-of-type{
				padding-left:0;
			}
			.fluid .flex-col:last-of-type{
				padding-right:0;
			}
		}
		&.text_13{
			.equal .flex-col{
				width:calc( #{$colwidth_13} - #{$spacing_13} );
			}
			.fluid .flex-col{
				padding:0 1.5rem;
			}
			.fluid .flex-col:first-of-type{
				padding-left:0;
			}
			.fluid .flex-col:last-of-type{
				padding-right:0;
			}
		}
		&.text_14{
			.equal .flex-col{
				width:calc( #{$colwidth_12} - #{$spacing_12} );
			}
			.fluid .flex-col{
				padding:0 1.5rem;
			}
			.fluid .flex-col:first-of-type{
				padding-left:0;
			}
			.fluid .flex-col:last-of-type{
				padding-right:0;
			}
		}
	}
	&.map_12{
		padding:2rem 0;
	}
	@media screen and (min-width:$w-med) {
		&.half .squeeze{
			width:calc( (100% / 3) * 2);
			margin: auto;
		}
		&.text_14{
			.equal .flex-col{
				width:calc( #{$colwidth_14} - #{$spacing_14} );
			}
		}
		&.map_12{
			// No paddings needed here
			padding: 0;
			
			//Center contents
			.flex-cols{
				align-items:center;
			}
		}
	}


}

div.flex-cols.equal{
	@media screen and (min-width:$w-tab) {
		display:flex;
		flex-flow:row wrap;
		justify-content:space-between;
	}
	@media screen and (min-width:$w-med) {
		display:flex;
		flex-flow:row nowrap;
		justify-content:space-between;
	}
}
div.flex-cols.fluid{
	@media screen and (min-width:$w-tab) {
		display:flex;
		flex-flow:row wrap;
		justify-content:flex-start;
		align-items:stretch;
	}
	@media screen and (min-width:$w-med) {
		display:flex;
		flex-flow:row nowrap;
		justify-content:flex-start;
	}
}



/**
* Jälleenmyyjät
*/ 
section.primary-content article[name="jalleenmyyjat"]{
	text-align:left;
}

div.store_locator_plus{
	margin:2.5rem 0;
	display: inline-block;
	width:100%;

	form.slp_search_form{
		padding-bottom: 1rem;
	}

	input[type="submit"]{
		background-color:$accent;
		color:white;
		border:solid 1px $accent;
		padding:.5rem 1rem;

		&:hover{
			border-color:rgba($accent,.9);
			background-color:rgba($accent,.9);
		}
	}
	@media screen and (max-width: 767px) {
		
	
		div.slp.search_box{
			.search_item{
				display: inline-block;

				div{
					display: inline-block;
					margin: 1rem .5rem 1rem 0;
				}
			}
			input[type="text"]{
				display: block;
				width: 100%;
				box-sizing:border-box;
			}
		}
	}

	@media screen and (min-width:$w-tab) {
		div.slp.search_box{
			display: flex;
			flex-flow:row;
			justify-content: flex-start;
			align-items:center;
			& div{
				display: flex;
				flex-flow:row;
				justify-content: flex-start;
				align-items:center;
			}
		}
	}
}

section.primary-content.me{
	text-align:center;
	.grid{
		figure{
			max-width: 300px;
			margin: 0 auto;
			padding:1rem 2rem 1rem;
			img{
				border-radius:150%;
			}
			figcaption{
				text-align: center;
			}
		}
	}

	@media screen and (min-width:$w-tab) {
		.grid{
			padding: 2rem 0;
			display: grid;
			grid-template-columns: repeat(3,1fr);
			grid-template-rows: auto;
			grid-row-gap:1rem;


			@supports not (display:grid){
				display: flex;
				flex-flow:row wrap;
				justify-content: center;
				align-items:flex-start;

				figure{
					width: calc(100% / 3 - 1rem);
				}

			}
		}
	}
}