body.search section.primary-content{
	article{
		text-align: left;
		float: left;
		width:100%;
		h2{
			word-wrap: break-word;
			font-size: 1.5rem;
		}
		figure{
			float:left;
			margin-right: 1rem;
		}
		div.search-content{
			float:left;

			&:after{
				content:'';
				display: table;
				clear: both;
			}
		}

		@media screen and (max-width:640px) {
			figure{
				width:100%;
				height: 120px;
				height: 30vmax;
				overflow: hidden;
				position:relative;
				img{
					width:100%;
					height: auto;
					position: absolute;
					
				}
			}
		}

		@media screen and (min-width:$w-dts) {
			width:calc( (100% / 3) - 1.5rem );
			float:left;
			margin: .75rem;

			figure{
				width:100%;
				img{
					width:100%;
				}
			}
		}

	}

	

	.nav-links{
		text-align: center;
		margin-bottom: 2rem;

		& > div{
			margin: 0 1rem;
		}
		a{
			text-decoration: none;
		}
	}
}