//Ratings
//WooCommerce bottom stars, outline only
body.woocommerce .star-rating::before{
	color:$accent-light;
}
//WooCommerce bottom stars, color-fill 
body.woocommerce .star-rating::before{
	color:$accent-light;
}
//WooCommerce top stars, color-fill 
body.woocommerce .star-rating span::before{
	color:$accent-light;
}
//Outline only
body.woocommerce .star-rating span::before{
	color:$accent;
}
p.stars span a{
	color:$accent;
}

section.primary-content .product{

	span.onsale{
		@extend .onsale;
		background-color:$accent;
		border-radius:0;
		top:0;
		left:0;
		min-height: auto;
		min-width: auto;
		padding:.5rem .8rem;
		line-height: 1;
		font-size: 1.25rem;
		font-family: $font-body;
		font-weight: 400;

		// Override woo defaults
		min-height: 0;
		min-width: 0;
	}

	// LAYOUT STUFF

	@media screen and (min-width:650px) {
		div.woocommerce-product-gallery.images{
			width: 40%;
			float:left;
		}
		div.summary.entry-summary{
			width: 56%;
			float:right;
		}
	}


	//Gallery
	figure.woocommerce-product-gallery__wrapper{
		div.woocommerce-product-gallery__image{
			margin-bottom: 1rem;
			padding:.1rem;
		}
	}


	article{
		text-align: left;
		max-width: 100%;
		padding:2rem;
		margin:1px;
		
		h2{
			font-family: $font-body;
			text-transform: uppercase;
			margin-top:0;
		}

		//SHORT DESC
		header.product-header{

		}
		//Add to cart etc.
		div.stuff{

		}
		.product_meta span{
			display: block;
		}
		.product_meta .sku_wrapper{
			display: none;
		}
		.price{
			margin: 2rem 0;
			color:black;
			font-weight: 400;
			font-size: 1.24rem;

			display: flex;
			flex-flow: row;


			ins{
				color:black;
				font-weight: 300;
				font-size: 2rem;
			}
			& > *{
				display: block;
			}

			del{
				order:2;
				margin-left: 1rem;
			}

		}
		.price del{
			font-size: .85rem;
			//margin-right: .5rem;
			color:$grey;
		}
		form.cart{
			margin-bottom: .65rem;

		}
		a.woocommerce-review-link{
			color:$grey;
			text-decoration: none;
		}


	}

	// VIDEO CONT
	div.product-video{
		position: relative; 
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		max-width: 100%;
		height: auto;

		iframe,object,embed{
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			@media screen and(min-width:$w-tab) {
				width: 50%;
				height: 50%;	
			}
			
		}
	}

	//TABS
	div.woocommerce-tabs.wc-tabs-wrapper{
		overflow-y: auto;
		& > ul{
			box-sizing:border-box;
			overflow-y: hidden;
			overflow-x: auto;
			display: block;
			white-space: nowrap;
			-webkit-overflow-scrolling: touch;
			-ms-overflow-style: -ms-autohiding-scrollbar;
			padding-left:.5rem;
			padding-right:.5rem;
			margin-bottom: 0;

		}
		& > ul > li{
			box-sizing:border-box;
			border-radius:0;
			background-color:$cloud-2;
			&:before{
				box-shadow:none;
				/*border-radius:0!important;
				border:none!important;*/
			}
			a{
				font-family: $font-body;
				font-weight: 400;
			}
		}
		.woocommerce-Tabs-panel{
			//background-color:$cloud;
			padding:1rem;
			border: solid 1px #d3ced2;
			border-top-color:transparent;
			background-color:white;
		}
		/*@media screen and (min-width:$w-tab){
			.woocommerce-Tabs-panel{
				border: solid 1px #d3ced2;
				border-top-color:transparent;
				background-color:white;
			}
		}*/
	}

}

.woocommerce div.product.product-type-variable{
	.stuff p.price{
		display: flex;
		flex-flow:row;

		color:rgba(#333,.5);

		margin: 1rem 0;

		span{
			color:rgba(#333,.5);
		}
	}
}